.profile{
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
    margin-top: 40px;
    margin-bottom: 51px;
    justify-content: space-between;
    display: flex;
}

/*1024*/
@media screen and (max-width: 1024px) {
    .profile{
        max-width: calc(100% - 19px*2);
    }
}

/*768*/
@media screen and (max-width: 768px) {
    .profile{
        flex-direction: column;
    }
}

/*320*/
@media screen and (max-width: 320px) {
    .profile{
        margin-bottom: 36px;
        margin-top: 42px;
    }
}