.profile__pencil-btn{
    margin: 0;
    padding: 0;
    border: 1px solid #FFFFFF;
    background-color: rgba(28,28,28,0);
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-top: 36px;
    margin-left: 19px;
    cursor: pointer;
}

.profile__pencil-btn:hover{
    opacity: 0.6;
}

/*768*/
@media screen and (max-width: 400px) {
    .profile__pencil-btn{
        position: relative;
        margin: 0;
        padding: 0;
        left: 10px;
        top: 33px;
        width: 18px;
        height: 18px;
    }
}

