.header{
    margin: 45px auto 0;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7); /* цвето #545454 получил через конвектор цветов на rgb */
}

/*920*/
@media screen and (max-width: 920px) {
    .header{
        max-width: 700px;
    }
}


/*320*/
@media screen and (max-width: 320px) {
    .header{
        max-width: 700px;
        margin-top: 28px;
    }
}
