.header{
    margin: 45px auto 0;
    max-width: 880px;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
}

/*920*/
@media screen and (max-width: 920px) {
    .header{
        max-width: 700px;
    }
}


/*320*/
@media screen and (max-width: 320px) {
    .header{
        max-width: 700px;
    }
}
