.elements__title{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
