.profile__name{
    margin: 0;
    padding: 0;
    padding-top: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    /* or 114% */
    color: #FFFFFF;
    grid-area: name;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

/*768*/
@media screen and (max-width: 768px) {
    .profile__name{
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin: 0 auto;
        padding-top: 27px;
        max-width: 189px;
    }
}