@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__describe/profile__describe.css);
@import url(../blocks/profile/__avatar-btn/profile__avatar-btn.css);
@import url(../blocks/profile/__card/profile__card.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__img/elements__img.css);
@import url(../blocks/elements/__item-list/elements__item-list.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/elements/__like-btn/elements__like-btn.css);
@import url(../blocks/elements/__like/elements__like.css);
@import url(../blocks/elements/__title/elements__title.css);
@import url(../blocks/elements/__white-area/elements__white-area.css);
@import url(../blocks/elements/__button/elements__button.css);
@import url(../blocks/profile/__pencil-btn/profile__pencil-btn.css);
@import url(../blocks/profile/__pencil/profile__pencil.css);
@import url(../blocks/profile/__plus-btn/profile__plus-btn.css);
@import url(../blocks/profile/__plus/profile__plus.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_element/popup__input_element_job.css);
@import url(../blocks/popup/__input/_element/popup__input_element_name.css);
@import url(../blocks/popup/__submit-btn/popup__submit-btn.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__opened/popup__opened.css);
@import url(../blocks/popup/__edit-form/popup__edit-form.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();