.popup__submit-btn{
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: 'Inter', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 48px;
}

.popup__submit-btn:hover{
    opacity: 0.8;
}


@media screen and (max-width: 570px) {
    .popup__submit-btn{
        max-width: 238px;
    }
}

@media screen and (max-width: 410px) {
    .popup__submit-btn{
        max-width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}