.popup__edit-form{
    margin: 0;
    padding: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 570px) {
    .popup__edit-form{
       margin-top: 39px;
    }
}