.coco__edit-btn{
    background: transparent url(../../../images/pencil.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
}