.profile__avatar-btn{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(28,28,28,0);
    width: 120px;
    height: 120px;
    cursor: pointer;
    border: 0;
}

/*768*/
@media screen and (max-width: 768px) {
    .profile__avatar-btn{
        margin: 0 auto;
    }
}