.profile__describe{
    margin: 0;
    padding: 0;
    padding-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-area: describe;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
    }

    /*768*/
@media screen and (max-width: 768px) {
    .profile__describe{
        margin: 0 auto;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        max-width: 282px;
    }
}